<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Landing Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styleslayout.css' %}">
</head>
<body>
    <header>
        <div class="logo">
           
            <img src="{% static 'images/logo.png' %}" alt="Description of the image">
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Login/Sign up</a></li>
                <li><a href="#" class="download-btn">CODE</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="hero">
        <div class="content">
            <h1>MUSIC RECOMMENDATION</h1>
            <h2>Millions of songs and podcasts<br>
                Let us find the best for you.</h2>
            <br><br>
            <a href="#" class="btn-primary" >GET RECOMMENDED</a>
        </div>
        <div class="hero-image">
            <img src="{% static 'images/hero.png' %}">
        </div>
    </section>

    <section class="features">
        <h2>Why US</h2>
        <div class="features-image">
        <img src="{% static 'images/feature.png' %}" id=feature-image>
        </div>
    </section>

    <section class="free">
        <div class="music">
            <video autoplay muted loop id="music-video">
                <source src="{% static 'images/spotify.mp4' %}" type="video/mp4">
            </video>
            <div class="overlay-content">
                <h1>MUSIC RECOMMENDATION</h1>
            </div>
            <div class="overlay-content2">
                <div class="scroll-container">
                    <div class="scroll-item">
                        <img src="{% static 'images/tool.png' %}" >
                        <div class="content">
                            <h2>Tools Used</h2>
                            <p> Django<br> Spotipy<br> Library<br> SkLearn</p>
                        </div>
                    </div>
                    <div class="scroll-item">
                        <img src="{% static 'images/music.png' %}" >
                        <div class="content">
                            <h2>Content-Based <br> Filtering</h2>
                            <p>Recommends songs<br> based on similarity<br> in music features.</p>
                        </div>
                    </div>
                    <div class="scroll-item">
                        <img src="{% static 'images/music.png' %}" >
                        <div class="content">
                            <h2>Hybrid Filtering</h2>
                            <p>Combines content-based<br> and popularity-based<br> recommendations.</p>
                        </div>
                    </div>
                    <div class="scroll-item">
                        <img src="{% static 'images/music.png' %}" >

                        <div class="content">
                            <h2>API Integration</h2>
                            <p>Utilizes the Spotify API<br> for fetching music<br> data and features.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="faq">
        
            <h1 id="about">About Us</h1>
            <h2>The Team</h2>
            <div class="team-container">
                <div class="person-card">
                    <img src="{% static 'images/music.png' %}" alt="K Sai Sanvi">
                    <p class="name">K Sai Sanvi</p>
                    <span class="location">RNSIT, Bengaluru</span>
                    <span class="duration">2021-2025</span>
                </div>
                <div class="person-card">
                    <img src="{% static 'images/music.png' %}" alt="Himanshu Negi">
                    <p class="name">Himanshu Negi</p>
                    <span class="location">RNSIT, Bengaluru</span>
                    <span class="duration">2021-2025</span>
                </div>
            </div>

    </section>

    <section class="cta">
        <h2>Ready, Let’s play!</h2>
        <p>This project implements a music recommendation system using the Spotify API, incorporating content-based and hybrid recommendation algorithms.
            
            
            </p>
    </section>

    <footer>
        <p>&copy; 2024 PROJECT </p>
    </footer>
</body>
</html>
