/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:#1DB954;
  color: #333;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #007BFF;
}

/* Container for the recommendation section */
.containerrec {
  flex:1;
 
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin: 20px auto;
  max-width: 1200px;
  background-color: #70d582;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.rec {
  flex: 1;
  max-width: 50%;
  padding: 20px;
}

.rec h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fffdfd;
}

.form-grouprec {
  margin-bottom: 20px;
}

.form-grouprec label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-grouprec input,
.form-grouprec select,
.form-grouprec textarea {
  width: 100%;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  color: #333;
  background-color: #f9f9f9;
}

.form-grouprec input:focus,
.form-grouprec select:focus,
.form-grouprec textarea:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-submitrec {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submitrec:hover {
  background-color: #0056b3;
}

/* Image and details section */
.details {
  flex: 1;
  max-width: 45%;
  padding: 20px;
  text-align: right;
}

.details img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.details h2 {
  font-size: 1.5em;
  margin-top: 20px;
  color: #333;
}

.details p {
  font-size: 1em;
  color: #555;
  line-height: 1.6;
}
